@import '../../../styles/variables.scss';

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  padding: 114px;
}

.movie-card {
  background: black;
  box-shadow: 0 2px 8px rgba(57, 255, 20, 0.5);
  border: 1px solid #8f4db2;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
  background-color: purple;
}

.movie-image {
  width: 100%;
  height: auto;
  display: block;
}

.movie-info {
  padding: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 8px 0;
  color: white;
  text-shadow: 0 0 7px $neonGreen, 0 0 1.5px $neonGreen;
  font-family: $mainFont;
}

.no-movies {
  background-color: black;
  height: 100vh;
  text-align: center;
  font-size: 2em;
}


