.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  padding: 16px;
}

.movie-card {
  background: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
  background-color: #8f4db2;
}

.movie-image {
  width: 100%;
  height: auto;
  display: block;
}

.movie-info {
  padding: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column
}

.movie-title {
  font-size: 1rem;
  font-weight: bolder;
  margin: 8px 0;
  color: white;
  text-shadow: 0 0 7px #39FF14, 0 0 10px #39FF14, 0 0 21px #39FF14;
  font-family: 'GFS Didot', serif;
}
