.movie-info > .Rating {
    display: flex;
    justify-content: right;
    color: black
}

.rating {
  color: black
}

.star-rating {
  display: 'flex'; 
  align-items: 'center'; 
}
p {
  color: black

}